.BloqueHeader {
  font-family: "Roboto";
  background-color: #545776;
  margin: 0;
  position: relative;
  height: 60px;
  width: 100%;
  top: 90px;
}
.CategoriaDelProducto {
  position: absolute;
  top: 10px;
  left: 15px;
}

.TituloDelProducto {
  left: 15px;
  top: 25px;
  position: absolute;
}

.arrow {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  width: 30px;
}

.BloqueUbicacion {
  background-color: whitesmoke;
  position: relative;
  height: 60px;
  width: 100%;
  top: 90px;
}

.DatosUbi {
  position: absolute;
  left: 35px;
  top: 17px;
}

.Distancia {
  position: absolute;
  left: 35px;
  bottom: 8px;
}

@media screen and (max-width: 420px) {
  .Distancia {
    display: none;
  }
}

.Ubi {
  position: absolute;
  color: #545776;
  left: 15px;
  top: 17px;
}

.IconComp {
  top: 110px;
  position: relative;
  left: 43px;
  color: #545776;
  width: 30px;
}

.IconFav {
  top: 83px;
  position: relative;
  left: 80px;
  color: #545776;
  width: 30px;
}

.carrusel {
  padding-left: 40px;
  top: 95px;
  position: relative;
  width: 100%;
}

.imagen {
  width: 640px;
}

.BloqueDescripcion {
position: relative;
padding-left: 43px;
top: 110px;
height: 280px;
width: 90%;
}

.TextoDeDescripcion {
  position: relative;
  top: 25px;
  width: 90%;
  
}

.TituloC {
  position: relative;
  top: 50px;
  padding-left: 43px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #1DBEB4;
}

@media screen and (max-width: 778px) {
  .TituloC {
    padding-top: 50px;
  }
}

.BloqueDeCaracteristicas {
  position: relative;
  top: 50px;
  left: 43px;
  width: 80%;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.caracteristicas {
  position: relative;
  width: 100%;
  color: #1DBEB4;
  display: flex;
  align-items: flex-end;
}

.iconosC {
  margin-right: 5px;
}

@media screen and (max-width: 778px) {
  .BloqueDeCaracteristicas {
    grid-template-columns: repeat(2, 1fr);
  }
}

.TituloP {
  position: relative;
  top: 100px;
  padding-left: 43px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #1DBEB4;
}

.BloqueDePoliticas {
  position: relative;
  height: 500px;
  width: 60%;
  top: 150px;
  padding-left: 43px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.textoP {
padding-top: 50px;
padding-right: 20px;
}

@media screen and (max-width: 778px) {
  .BloqueDePoliticas {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .BloqueDePoliticas {
    grid-template-columns: repeat(1, 1fr);
  }
}

